html {
  font-family: 'Luckiest Guy', cursive;
  color: #ff0000;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.banner {
  background-image: url("../images/banner-placeholder.jpg");
}

.nav-logo {
  width: 7rem;
}

.sandwich {
  width: 4rem;
}

h1 {
  color: #fff;
}

.preview-img .unit {
  height: 100vh;
  background: url("https://pics.me.me/graphic-design-is-my-passion-11891063.png") center center / cover no-repeat;
}

.phrase {
  color: #ff0000;
}
