html {
  font-family: 'Luckiest Guy', cursive;
  color: #ff0000;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.banner {
  background-image: url("../images/banner-placeholder.jpg");
}

.nav-logo {
  width: 7rem;
}

.sandwich {
  width: 4rem;
}
